header {
    background-color: black;
    color: lightblue;
}

.introduction {
    display: flex;
    align-items: center;
    margin: 20px;
}

.intro-image {
    width: 40%;
    margin-right: 20px;
}

.intro-text {
    width: 60%;
}
